 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
}

/* NAVBAR */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #50C878;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo img {
  height: 45px; /* controls size*/
  width: bold;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

.menu {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* HERO */
.hero {
  height: 90vh;
  background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
              url("me.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content {
  color: white;
  max-width: 700px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.buttons {
  margin-top: 20px;
}

/* BUTTONS */
.btn {
  background:#50C878;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin: 5px;
  display: inline-block;
}

.btn.outline {
  background: transparent;
  border: 2px solid #50C878;
}

/* SECTIONS */
.section {
  padding: 60px 20px;
  text-align: center;
}

.gray {
  background: #50C878;
}

.section h2 {
  margin-bottom: 20px;
  font-size: 32px;
}

/* SKILLS */
.skills {
  list-style: none;
  margin-top: 20px;
}

.skills li {
  margin: 8px 0;
}

/* PROJECTS */
.projects {
  display: flex;
  justify-content: center;
}

.project-card {
  background: rgb(255, 255, 255);
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}

/* FORM */
form {
  max-width: 400px;
  margin: auto;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

#success {
  margin-top: 15px;
  color: green;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  nav {
    display: none;
    flex-direction: column;
    background: rgb(34, 48, 129);
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 10px;
  }

  nav.show {
    display: flex;
  }

  .menu {
    display: block;
  }

  .hero h1 {
    font-size: 32px;
  }
}
.skills{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}
.skills span {
  background: #50C878; /* box
  background */
  padding: 15px 25px;
  border-radius: 8px;
  font-weight: 600;
  color:#333;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: inline-block;
  
}
.footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 20px 10px;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: white;
  font-size: 22px;
  margin: 0 10px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: orange; /* matches your button color */
}
